<!-- Footer
    ============================================= -->
<footer id="footer" class="dark bg-black border-top-0">
    <div
        class="container py-4">

        <!-- Footer Widgets
                        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row col-mb-50">
                <div class="col-md-4">

                    <div class="widget widget_links">
                        <h3 class="text-transform-none ls-0 border-bottom d-inline-block mb-5">{{block.menus_footer_title}}</h3>

                        <p>{{block.menus_footer_description}}</p>
                        <ul>
                            {% for item in block.menus_footer %}
                                <li class="mb-2">
                                    <a class="ls-1 text-light" href="{{absolute_link(item.contentlink|e)}}">{{item.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="mx-lg-auto justify-content-center">
                            <a class="color fst-italic" href="/">
                                <img src="{{block.logo_footer|thumbnail(300,200,fit='f')}}" alt="...">
                            </a>
                        </div>
                    </div>

                </div>


                <div class="col-lg-3 col-12 offset-md-2">

                    <div class="widget widget_links">

                        <h3 class="text-transform-none ls-0 border-bottom d-inline-block mb-5">Contáctanos</h3>

                        <ul>
                            <li class="mb-2">
                                <a class="ls-1 text-light" href="mailto:{{block.email}}">{{block.email}}</a>
                            </li>
                            <li class="mb-2">
                                <a class="ls-1 text-light" href="{{block.phone_link}}">{{block.phone_text}}</a>
                            </li>
                            <li class="mb-2">
                                <a class="ls-1 text-light" href="https://wa.me/{{block.whatsapp}}?text={{block.whatsapp_message|url_encode}}" target="_blank">Whatsapp</a>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="col-lg-3 col-12">

                    <div class="widget widget_links">

                        <h3 class="text-transform-none ls-0 border-bottom d-inline-block mb-5">Síguenos</h3>

                        <ul>
                            {% for social in block.sociales %}
                                <li class="mb-2">
                                    <a class="fa-brands fa-{{social.title}} text-light" target="_blank" href="{{absolute_link(social.contentlink|e)}}">&nbsp;&nbsp;{{social.title|capitalize}}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- Copyrights
                            ============================================= -->
    <div id="copyrights" style="border-top: 1px solid rgba(255,255,255,.2)">
        <div class="container">

            <div class="row col-mb-30">
                <div class="col-md-6 text-center text-md-start">
                    Copyrights &copy; 2025 Todos los derechos reservados CafésDeLoja.
                </div>
            </div>

        </div>
    </div>
    <!-- #copyrights end -->
</footer>
