{% set tag_cloud = tag_cloud_by_contenttype('products') %}
{% setcontent products = (contenttype) %}

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap pb-0">

        <div
            class="container">

            <a href="demo-skincare-login.html"><img src="{{banner|thumbnail(2560,423,fit="c")}}" alt=".." class="mb-3 mb-md-5 mb-xl-6 border border-color border-width-2"></a>

            <div class="row mb-3 mb-md-5 justify-content-md-between">

                <div class="col-md-3 order-2 order-md-1">

                    <button type="button" class="button-filter button button-border border-color m-0 color h-bg-color h-text-light w-100">
                        <span>Show Filter
                            <i class="bi-arrow-down me-0 ms-2"></i>
                        </span>
                        <span>
                            <i class="bi-arrow-up"></i>
                            Hide Filter</span>
                    </button>

                </div>

            </div>

            <div class="row">
                <div class="col-md-3 skincare-filter sticky-sidebar-wrap">
                    {# <ul class="list-unstyled items-nav sticky-sidebar">
                        <li>
                            <a href="#" class="text-dark font-body">Men</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark font-body">Women</a>
                        </li>
                    </ul> #}
                    <hr>
                    <ul class="pt-4 list-unstyled position-relative ist-unstyled items-nav shop-filter custom-filter font-body" data-container="#shop" data-active-class="active-filter">
                        <li class="widget-filter-reset active-filter">
                            <a href="#" class="text-danger" data-filter="*">Clear</a>
                        </li>

                        {% for tag in tag_cloud %}
                            <li class="mb-1 d-flex justify-content-between align-items-center">
                                <a href="#" data-filter=".sf-{{tag.slug}}">{{tag.name}}</a>
                                <div class="shop-filter-count"></div>
                            </li>
                        {% endfor %}
                    </ul>

                    <hr class="my-5">


                    <div class="d-flex align-items-center mt-5 filter-by-price">
                        <h5 class="mb-0 h6 font-body fw-normal">Filter by Price:</h5>
                        <div class="d-flex text-smaller ms-auto op-07">
                            <div class="price-range-from"></div>
                            <span class="mx-1">
                                -
                            </span>
                            <div class="price-range-to"></div>
                        </div>
                    </div>
                    <input class="price-range">

                </div>

                <div class="col-md-9">
                    <div
                        id="shop" class="row shop grid-container" data-layout="fitRows">

                        <!-- Shop Item 1
                        ============================================= -->
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4 product {% for tag in product|taxonomies.tags %}sf-{{tag.slug}} {% endfor %}">
                            <div class="grid-inner">
                                <div class="product-image">
                                    <a href="demo-skincare-single.html"><img src="{{product.image|thumbnail(540,675,fit='crop')}}" alt="..."></a>
                                    <div class="sale-flash badge bg-color rounded-0 fw-normal p-2">{{product.feature_1}}</div>
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content align-items-end justify-content-end" data-hover-animate="fadeIn">
                                            {# <a href="demo-skincare-single.html" class="d-block positon-absolute top-0 start-0 w-100 h-100 z-1">
                                                <span class="visually-hidden">Product Link</span>
                                            </a> #}
                                            {# <a href="#" class="btn bg-color bg-opacity-75 text-light me-2 z-2">
                                                <i class="bi-basket"></i>
                                            </a> #}
                                        </div>
                                    </div>
                                </div>
                                <div class="product-desc text-center">
                                    <div class="product-title">
                                        <h3>{{product.title}}</h3>
                                    </div>
                                    <div class="product-price fw-normal mt-0 mb-0">
                                        <del class="op-07">{{product.price_previous}}</del>
                                        <ins>{{product.price}}</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <div class="section bg-color dark mb-0 py-0">
            {% include 'partials/_section_ticker.twig' with {visible: true, contenttype: 'section-ticker'} %}
        </div>

    </div>
</section>
<!-- #content end -->
