<!-- Section Products
============================================= -->
<div class="section my-0 mt-lg-5">
    <div class="container mw-sm">
        <div class="row gx-5 justify-content-center align-items-center">
            <div class="col-sm-auto mb-5">
                <div class="circular-text position-relative dark mb-5">
                    <div id="rotated-text" class="rotating infinite">
                        100% Organic &#9670; Palm Oil &#9670; Healthy &#9670; Pure &amp; Fresh &#9670;
                    </div>
                    <a class="rotated-center-text fs-4 op-05 text-light m-0 lh-sm" href="#">canvas</a>
                </div>
            </div>
            <div class="col mb-5">
                <p class="color text-uppercase ls-3 small mb-3">Our Products</p>
                <h3 class="display-5 mb-5">Products to make your everyday life easier.</h3>
            </div>
        </div>
    </div>
    <div id="oc-products" class="owl-carousel owl-carousel-full products-carousel carousel-widget owl-nav-hover-fixed " data-loop="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

        <div class="oc-item">
            <div class="product">
                <div class="product-image mb-2">
                    <img src="{{asset('demos/skincare/images/products/10.jpg')}}" alt="...">
                    <div class="sale-flash badge bg-color rounded-0 fw-normal p-2">50% Off*</div>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content align-items-end justify-content-end" data-hover-animate="fadeIn">
                            <a href="demo-skincare-single.html" class="d-block positon-absolute top-0 start-0 w-100 h-100 z-1">
                                <span class="visually-hidden">Product Link</span>
                            </a>
                            <a href="#" class="btn bg-color bg-opacity-75 text-light me-2 z-2">
                                <i class="bi-basket"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-desc text-center">
                    <div class="product-title">
                        <h3>
                            <a href="demo-skincare-single.html" class="color">Mitzee Cream</a>
                        </h3>
                    </div>
                    <div class="product-price fw-normal mt-0 mb-2">
                        <del class="op-07">$24.99</del>
                        <ins>$12.49</ins>
                    </div>
                    <a href="demo-skincare-cart.html" class="button button-small px-5 button-border border-color m-0 color h-bg-color h-text-light mt-2">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="oc-item">
            <div class="product">
                <div class="product-image mb-2">
                    <a href="demo-skincare-single.html"><img src="{{asset('demos/skincare/images/products/11.jpg')}}" alt="..."></a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content align-items-end justify-content-end" data-hover-animate="fadeIn">
                            <a href="demo-skincare-single.html" class="d-block positon-absolute top-0 start-0 w-100 h-100 z-1">
                                <span class="visually-hidden">Product Link</span>
                            </a>
                            <a href="#" class="btn bg-color bg-opacity-75 text-light me-2 z-2">
                                <i class="bi-basket"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-desc text-center">
                    <div class="product-title">
                        <h3>
                            <a href="demo-skincare-single.html" class="color">Clove Tonka Oil</a>
                        </h3>
                    </div>
                    <div class="product-price fw-normal mt-0 mb-2">$39.99</div>
                    <a href="demo-skincare-cart.html" class="button button-small px-5 button-border border-color m-0 color h-bg-color h-text-light mt-2">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="oc-item">
            <div class="product">
                <div class="product-image mb-2">
                    <a href="demo-skincare-single.html"><img src="{{asset('demos/skincare/images/products/15.jpg')}}" alt="..."></a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content align-items-end justify-content-end" data-hover-animate="fadeIn">
                            <a href="demo-skincare-single.html" class="d-block positon-absolute top-0 start-0 w-100 h-100 z-1">
                                <span class="visually-hidden">Product Link</span>
                            </a>
                            <a href="#" class="btn bg-color bg-opacity-75 text-light me-2 z-2">
                                <i class="bi-basket"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-desc text-center">
                    <div class="product-title">
                        <h3>
                            <a href="demo-skincare-single.html" class="color">Stockholm Hair Oil</a>
                        </h3>
                    </div>
                    <div class="product-price fw-normal mt-0 mb-2">$19.95</div>
                    <a href="demo-skincare-cart.html" class="button button-small px-5 button-border border-color m-0 color h-bg-color h-text-light mt-2">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="oc-item">
            <div class="product">
                <div class="product-image mb-2">
                    <a href="demo-skincare-single.html"><img src="{{asset('demos/skincare/images/products/13.jpg')}}" alt="..."></a>
                    <div class="sale-flash badge bg-color rounded-0 fw-normal p-2">Sale!</div>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content align-items-end justify-content-end" data-hover-animate="fadeIn">
                            <a href="demo-skincare-single.html" class="d-block positon-absolute top-0 start-0 w-100 h-100 z-1">
                                <span class="visually-hidden">Product Link</span>
                            </a>
                            <a href="#" class="btn bg-color bg-opacity-75 text-light me-2 z-2">
                                <i class="bi-basket"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-desc text-center">
                    <div class="product-title">
                        <h3>
                            <a href="demo-skincare-single.html" class="color">Romi Moisture</a>
                        </h3>
                    </div>
                    <div class="product-price fw-normal mt-0 mb-2">
                        <del class="op-07">$19.99</del>
                        <ins>$11.99</ins>
                    </div>
                    <a href="demo-skincare-cart.html" class="button button-small px-5 button-border border-color m-0 color h-bg-color h-text-light mt-2">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="oc-item">
            <div class="product">
                <div class="product-image mb-2">
                    <a href="demo-skincare-single.html"><img src="{{asset('demos/skincare/images/products/5.jpg')}}" alt="..."></a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content align-items-end justify-content-end" data-hover-animate="fadeIn">
                            <a href="demo-skincare-single.html" class="d-block positon-absolute top-0 start-0 w-100 h-100 z-1">
                                <span class="visually-hidden">Product Link</span>
                            </a>
                            <a href="#" class="btn bg-color bg-opacity-75 text-light me-2 z-2">
                                <i class="bi-basket"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-desc text-center">
                    <div class="product-title">
                        <h3>
                            <a href="demo-skincare-single.html" class="color">Ouiao Super Serum</a>
                        </h3>
                    </div>
                    <div class="product-price fw-normal mt-0 mb-2">$9.99</div>
                    <a href="demo-skincare-cart.html" class="button button-small px-5 button-border border-color m-0 color h-bg-color h-text-light mt-2">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="oc-item">
            <div class="product">
                <div class="product-image mb-2">
                    <a href="demo-skincare-single.html"><img src="{{asset('demos/skincare/images/products/14.jpg')}}" alt="..."></a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content align-items-end justify-content-end" data-hover-animate="fadeIn">
                            <a href="demo-skincare-single.html" class="d-block positon-absolute top-0 start-0 w-100 h-100 z-1">
                                <span class="visually-hidden">Product Link</span>
                            </a>
                            <a href="#" class="btn bg-color bg-opacity-75 text-light me-2 z-2">
                                <i class="bi-basket"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-desc text-center">
                    <div class="product-title">
                        <h3>
                            <a href="demo-skincare-single.html" class="color">Tainyc Polish</a>
                        </h3>
                    </div>
                    <div class="product-price fw-normal mt-0 mb-2">$129.99</div>
                    <a href="demo-skincare-cart.html" class="button button-small px-5 button-border border-color m-0 color h-bg-color h-text-light mt-2">Add to cart</a>
                </div>
            </div>
        </div>

    </div>
</div>
