{% setcontent block = (content) returnsingle %}

{% if visible %}
    <!-- Section Features
    ============================================= -->
    <div class="section my-0 pb-0 pb-lg-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <p class="color text-uppercase ls-3 small mb-3">{{block.subtitle}}</p>
                    <h3 class="display-5 mb-5">{{block.title}}</h3>
                </div>
            </div>

            <div class="row g-5 text-center text-md-left">
                {% for feature in block.features %}
                    <div class="col-md-3">
                        <div class="bg-primary bg-opacity-10 d-inline-block p-4 mb-4" style="border-radius: 30% 70% 66% 34% / 30% 40% 60% 70% ;">
                            <img src="{{feature.image|thumbnail(60, 60, fit='c')}}" alt=".." width="60" height="60">
                        </div>
                        <h3 class="my-3 color">{{feature.title}}</h3>
                        <p class="op-08">{{feature.subtitle}}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endif %}
