{% setcontent block = (content) returnsingle %}

{% if visible %}
    <!-- Section Products
        ============================================= -->
    <div id="section-products" class="section my-0 mt-lg-5" style="background-color: var(--cnvs-color)">
        <div class="container mw-sm">
            <div class="row gx-5 justify-content-center align-items-center">
                <div class="col-sm-auto mb-5">
                    <div class="circular-text position-relative dark mb-5">
                        {% if block.rotated_text is not empty %}
                            <div id="rotated-text" class="rotating infinite">
                                {{block.rotated_text}}
                            </div>
                        {% endif %}
                        <a class="rotated-center-text fs-4 op-05 text-light m-0 lh-sm" href="/">
                            <img src="{{block.rotated_logo|thumbnail(180,180,fit='c')}}" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col mb-5">
                    <p class="color text-uppercase ls-3 small mb-3">{{block.subtitle}}</p>
                    <h3 class="display-5 mb-5">{{block.title}}</h3>
                </div>
            </div>
        </div>
        <div id="oc-products" class="owl-carousel owl-carousel-full products-carousel carousel-widget owl-nav-hover-fixed " data-loop="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

            {% for item in block.items %}
                {% setcontent product_selected = 'products' where {id: item.selected} %}
                <div class="oc-item">
                    <div class="product">
                        <div class="product-image mb-2">
                            <a href="demo-skincare-single.html"><img src="{{product_selected.image|thumbnail(540,675,fit='crop')}}" alt="..."></a>
                            {% if product_selected.feature_1 is not empty %}
                                <div class="sale-flash badge bg-color rounded-0 fw-normal p-2">{{product_selected.feature_1}}</div>
                            {% endif %}
                            <div class="bg-overlay">
                                <div
                                    class="bg-overlay-content align-items-end justify-content-end" data-hover-animate="fadeIn">{# <a href="demo-skincare-single.html" class="d-block positon-absolute top-0 start-0 w-100 h-100 z-1">
                                                                                <span class="visually-hidden">Product Link</span>
                                                                            </a> #}
                                </div>
                            </div>
                        </div>
                        <div class="product-desc text-center">
                            <div class="product-title">
                                <h3>
                                    <a href="demo-skincare-single.html" class="color">{{product_selected.title}}</a>
                                </h3>
                            </div>
                            <div class="product-price fw-normal mt-0 mb-2">
                                {% if product_selected.price_previous is not empty %}
                                    <del class="op-07">$19.99</del>
                                {% endif %}
                                <ins>{{product_selected.price}}</ins>
                            </div>
                            {# <a href="demo-skincare-cart.html" class="button button-small px-5 button-border border-color m-0 color h-bg-color h-text-light mt-2">Add to cart</a> #}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}
