{# dump(sliders) #}

{% if visible %}

    <!-- Slider
    ============================================= -->
    <div id="slider" class="slider-element revslider-wrap min-vh-0">
        <div class="slider-inner">
            <rs-module-wrap id="rev_slider_shop_wrapper" data-alias="canvas-shop" data-source="gallery" class="p-0 bg-color">
                <rs-module id="rev_slider_shop" class="rs-respect-topbar" data-version="6.5.8">
                    <rs-slides>
                        {% for slide in sliders %}
                            {% if slide.visible %}
                                {# dump(slide.image_slide) #}
                                <!-- Slider-N -->
                                <rs-slide style="position: absolute;" data-key="slider-{{loop.index}}" data-title="Slide" data-in="x:(100%);" data-out="x:(-60%);">
                                    <img src="{{asset('demos/skincare/images/slider/dummy.png')}}" title="{{slide.image_slide.filename}}" width="1920" height="1080" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{{slide.image_slide|thumbnail(1920, 1080)}}" data-parallax="off" {% if slide.video_slide.path is empty %} data-panzoom="d:9000ms;ss:100%;se:120%;os:0px/0;oe:0px/0px;" {% endif %} data-no-retina>
                                    {% if slide.video_slide.path is not empty %}
                                        <rs-bgvideo data-video="w:100%;h:100%;nse:false;l:true;ptimer:false;vfc:true;" data-mp4="{{slide.video_slide.path}}"></rs-bgvideo>
                                    {% endif %}

                                    <rs-zone id="rrzm_95" class="rev_row_zone_middle" style="z-index: 17;">

                                        <rs-row id="slider-shop-slide-{{loop.index}}-layer-17" data-type="row" data-xy="xo:50px;yo:50px;" data-basealign="slide" data-rsp_bd="off" data-margin="r:0,200,140,40;l:250,200,140,40;" data-frame_0="o:1;" data-frame_999="o:0;st:w;sR:6700;sA:7000;" style="z-index:1;">
                                            <rs-column id="slider-shop-slide-{{loop.index}}-layer-18" data-type="column" data-xy="xo:50px;yo:50px;" data-rsp_bd="off" data-column="w:100%;a:middle;" data-frame_0="o:1;" data-frame_999="o:0;st:w;sR:6700;sA:7000;" style="z-index:2;width:100%;">
                                                <rs-layer id="slider-shop-slide-{{loop.index}}-layer-20" data-type="text" data-rsp_ch="on" data-text="w:normal;s:30;l:30;" data-dim="minh:0px,none,none,none;" data-blendmode="soft-light" data-disp="inline-block" data-margin="l:10,10,10,6;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;" style="z-index:3;font-family:var(--cnvs-body-font);text-transform:uppercase;display:inline-block;">
                                                    {% verbatim %}
                                                        {{current_slide_index}}
                                                    {% endverbatim %}
                                                </rs-layer>

                                                <rs-layer id="slider-shop-slide-{{loop.index}}-layer-19" data-type="text" data-color="rgba(255, 255, 255, 0.5)" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:normal;s:13;l:20;" data-dim="minh:0px,none,none,none;" data-blendmode="soft-light" data-disp="inline-block" data-margin="l:5;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;" style="z-index:4;font-family:var(--cnvs-body-font);text-transform:uppercase;display:inline-block;">/
                                                    {% verbatim %}
                                                        {{total_slide_count}}
                                                    {% endverbatim %}
                                                </rs-layer>

                                                <rs-layer id="slider-shop-slide-{{loop.index}}-layer-2" class="fst-italic text-capitalize" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:normal;s:200,100,75,80;l:180,90,68,70;ls:-10px,-8px,-6px,-3px;fw:800;" data-dim="h:400px,200px,151px,160px;minh:0px,none,none,none;" data-margin="t:0,25,19,12;b:30,25,19,30;" data-padding="t:35,0,0,0;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;" style="z-index:5;font-family: var(--cnvs-primary-font); text-shadow: 1px 1px 3px rgba(var(--cnvs-themecolor-rgb), 0.2);">shining<br>Moisture
                                                </rs-layer>

                                                <rs-layer id="slider-shop-slide-{{loop.index}}-layer-29" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:normal;s:13;l:30;ls:1px;" data-dim="minh:0px,none,none,none;" data-disp="inline-block" data-margin="l:10,10,10,6;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;" style="z-index:7;font-family:var(--cnvs-body-font);text-transform:uppercase;display:inline-block;">Sirum
                                                </rs-layer>

                                                <rs-layer id="slider-shop-slide-{{loop.index}}-layer-30" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:normal;s:13;l:30;ls:1px;" data-dim="minh:0px,none,none,none;" data-disp="inline-block" data-margin="r:5;l:5;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;" style="z-index:8;font-family:var(--cnvs-body-font);text-transform:uppercase;display:inline-block;">/
                                                </rs-layer>

                                                <rs-layer id="slider-shop-slide-{{loop.index}}-layer-31" data-type="text" data-color="rgba(255, 255, 255, 0.5)" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:normal;s:13;l:30;ls:1px;" data-dim="minh:0px,none,none,none;" data-disp="inline-block" data-margin="r:0,0,0,100;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;" style="z-index:9;font-family:var(--cnvs-body-font);text-transform:uppercase;display:inline-block;">1.7fl oz - 50ml
                                                </rs-layer>

                                                <rs-layer id="slider-shop-slide-{{loop.index}}-layer-32" data-type="text" data-color="rgba(255, 255, 255, 0.5)" data-rsp_ch="on" data-text="w:normal;s:13;l:30;ls:1px;" data-dim="minh:0px,none,none,none;" data-disp="inline-block" data-margin="l:80,50,80,6;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;" style="z-index:10;font-family:var(--cnvs-body-font);text-transform:uppercase;display:inline-block;">Company
                                                </rs-layer>

                                                <rs-layer id="slider-shop-slide-{{loop.index}}-layer-33" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:normal;s:13;l:30;ls:1px;" data-dim="minh:0px,none,none,none;" data-disp="inline-block" data-margin="l:5;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;" style="z-index:11;font-family:var(--cnvs-body-font);text-transform:uppercase;display:inline-block;">Kiehl's
                                                </rs-layer>
                                            </rs-column>
                                        </rs-row>
                                    </rs-zone>
                                </rs-slide>
                            {% endif %}
                        {% endfor %}
                    </rs-slides>

                    <rs-static-layers>
                        <rs-group id="slider-shop-slide-33-layer-22" class="rs-layer-static" data-type="group" data-rsp_ch="on" data-xy="x:r;y:m;" data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:150px,120px,80px,49px;h:100%;" data-vbility="t,t,t,f" data-actions='o:click;a:jumptoslide;slide:next;||o:mouseenter;a:togglelayer;layer:slider-shop-slide-33-layer-5;ch:true;||o:mouseleave;a:togglelayer;layer:slider-shop-slide-33-layer-5;ch:true;' data-basealign="slide" data-onslides="s:1;" data-frame_0="x:175%;o:1;" data-frame_0_mask="u:t;x:-100%;" data-frame_1="e:power3.out;st:400;sp:400;sR:400;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6200;sA:7000;" style="z-index:19;">
                            <rs-layer id="slider-shop-slide-33-layer-21" class="rs-layer-static nav-wrapper" data-type="shape" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:100%;h:100%;" data-onslides="s:1;" data-border="bos:solid;boc:rgba(255, 255, 255, 0.1);bow:0,0,0,1px;" data-frame_999="o:0;st:w;sR:6700;" data-frame_hover="boc:rgba(255,255,255,0.2);bos:solid;bow:0,0,0,1px;" style="z-index:17;cursor:pointer;"></rs-layer>

                            <rs-layer id="slider-shop-slide-33-layer-23" class="rs-noevents rs-layer-static text-uppercase font-body z-9 rs-layer-nav nav-next" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:700;s:15;ls:3px;" data-btrans="rZ:-90;" data-onslides="s:1;" data-frame_999="o:0;st:w;sR:6700;">SIGUIENTE
                            </rs-layer>
                        </rs-group>

                        <rs-group id="slider-shop-slide-33-layer-24" class="rs-layer-static" data-type="group" data-rsp_ch="on" data-xy="y:m;" data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:150px,120px,80px,49px;h:100%;" data-vbility="t,t,t,f" data-actions='o:click;a:jumptoslide;slide:previous;||o:mouseenter;a:togglelayer;layer:slider-shop-slide-33-layer-8;ch:true;||o:mouseleave;a:togglelayer;layer:slider-shop-slide-33-layer-8;ch:true;' data-basealign="slide" data-onslides="s:1;" data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;st:400;sp:400;sR:400;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6200;sA:7000;" style="z-index:22;">
                            <rs-layer id="slider-shop-slide-33-layer-25" class="rs-layer-static nav-wrapper" data-type="shape" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:100%;h:100%;" data-onslides="s:1;" data-border="bos:solid;boc:rgba(255, 255, 255, 0.1);bow:0,1,0,0px;" data-frame_999="o:0;st:w;sR:6700;" data-frame_hover="boc:rgba(255,255,255,0.2);bos:solid;bow:0,1px,0,0px;" style="z-index:20;cursor:pointer;"></rs-layer>

                            <rs-layer id="slider-shop-slide-33-layer-26" class="rs-noevents rs-layer-static text-uppercase font-body z-9 rs-layer-nav nav-prev" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;" data-text="w:700;s:15;ls:3px;" data-btrans="rZ:-90;" data-onslides="s:1;" data-frame_999="o:0;st:w;sR:6700;">PREVIO
                            </rs-layer>
                        </rs-group>

                        <rs-layer id="slider-40-slide-33-layer-1" class="rs-layer-static" data-type="button" data-rsp_ch="on" data-xy="x:l,l,l,r;xo:50px,41px,31px,0;y:t,t,t,b;yo:50px,41px,31px,40px;" data-text="w:normal;s:20,16,12,20;l:25,20,15,20;a:left,left,left,center;" data-dim="w:auto,auto,auto,80px;h:auto,auto,auto,40px;" data-vbility="f,f,f,t" data-actions='o:click;a:jumptoslide;slide:next;' data-basealign="slide" data-onslides="s:1;" data-padding="t:0,0,0,10;r:0,0,0,10;b:0,0,0,10;l:0,0,0,10;" data-border="bos:none,none,none,solid;boc:rgba(255, 255, 255, 0.2);bow:0,0,0,1px;" data-frame_0="y:50,41,31,19;" data-frame_1="st:400;sp:400;sR:400;" data-frame_999="o:0;st:w;sR:6200;" style="z-index:28;font-family:'Roboto';">
                            <i class="uil uil-angle-right-b"></i>
                        </rs-layer>

                        <rs-layer id="slider-40-slide-33-layer-3" class="rs-layer-static" data-type="button" data-rsp_ch="on" data-xy="x:l,l,l,r;xo:50px,41px,31px,80px;y:t,t,t,b;yo:50px,41px,31px,40px;" data-text="w:normal;s:20,16,12,20;l:25,20,15,20;a:left,left,left,center;" data-dim="w:auto,auto,auto,80px;h:auto,auto,auto,40px;" data-vbility="f,f,f,t" data-actions='o:click;a:jumptoslide;slide:previous;' data-basealign="slide" data-onslides="s:1;" data-padding="t:0,0,0,10;r:0,0,0,10;b:0,0,0,10;l:0,0,0,10;" data-frame_0="y:50,41,31,19;" data-frame_1="st:400;sp:400;sR:400;" data-frame_999="o:0;st:w;sR:6200;" style="z-index:27;font-family:'Roboto';">
                            <i class="uil uil-angle-left-b"></i>
                        </rs-layer>

                        <rs-layer id="slider-shop-slide-33-layer-5" class="rs-layer-static" data-type="shape" data-rsp_ch="on" data-xy="x:r;y:m;" data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:150px,120px,80px,49px;h:100%;" data-vbility="t,t,t,f" data-basealign="slide" data-onslides="s:1;" data-border="boc:rgba(255, 255, 255, 0.1);bow:0,0,0,1px;" data-frame_1="bB:10px;st:a;" data-frame_999="o:0;st:a;sR:6700;" data-frame_hover="boc:rgba(255,255,255,0.2);bos:none;bow:0,0,0,1px;" style="z-index:16;cursor:pointer;"></rs-layer>

                        <rs-layer id="slider-shop-slide-33-layer-8" class="rs-layer-static" data-type="shape" data-rsp_ch="on" data-xy="y:m;" data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:150px,120px,80px,49px;h:100%;" data-vbility="t,t,t,f" data-basealign="slide" data-onslides="s:1;" data-border="boc:rgba(255, 255, 255, 0.1);bow:0,0,0,1px;" data-frame_1="bB:10px;st:a;" data-frame_999="o:0;st:a;sR:6700;" data-frame_hover="boc:rgba(255,255,255,0.2);bos:none;bow:0,0,0,1px;" style="z-index:15;cursor:pointer;"></rs-layer>
                    </rs-static-layers>
                </rs-module>
            </rs-module-wrap>
        </div>
    </div>

{% endif %}
